@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
  margin: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html, body, .main {
  height: 100%;
  overflow: hidden;
  background-color: rgb(100,100,100);
}

body {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  color: white;
}

h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}


/* controls styling */

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}

  .control {
      font-size: 1.5em;
      display: flex;
  }

    .breakLength, .sessionLength {
          display: inline;
          padding-left: 30px;
          padding-right: 30px;
        }

      .minus, .plus {
        color: white;
        border: none;
        cursor: pointer;
        outline: none;
      }
        .minus:hover, .plus:hover {
          font-size: 1.1em;
        }


.duration {
      font-size: 1.2em;
      padding-left: 10px;
      padding-right: 10px;
    }


/* countdown timer styling */
#countdown {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
    font-size: 4em;
    border: 2px solid rgb(0,255,0);  
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 20;
    overflow: hidden; 
    color: white;
  }

    #countdown:hover {    
      border: 3px solid rgb(0,255,0);  
    }

    #countdown:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        z-index: 2;
      }

.focus {
    text-align: center;
    line-height: 180px;
    font-size: .8em;
    padding-bottom: 0;
  }

  #circle {
    content: '';
    position: absolute;
    background: green;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  button {
    margin-top: 30px;
    padding: 1em;
  }

  button:hover {
    cursor: pointer;
  }