@import url(https://fonts.googleapis.com/css?family=Lobster);

html, body, .main {
  height: 100%;
  overflow: hidden;
  background-color: rgb(100,100,100);
}

body {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  display: block;
  background-color: $black;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

/*.wrapper,
 {
  margin: 0 auto;
  text-align: center;
}*/
#circle {
    background-color: rgb(0,255,0);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.breakLength {
  float: left;
}
.sessionLength {
  float: right;
}
.breakLength,
.sessionLength,
#countdown {
  display:inline-block;
}

.countdown {
  position: relative;
}

#circle,
.time {
  margin: 0;
  position: absolute;
  top: auto;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.time {
  z-index: 10;
  color: white;
  font-size: 3em;
}

.fa,
#countdown {cursor: pointer;}

